<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, :prompt => "Select One" %>
  
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :concents %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.datetime_select :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
